body{
    background-color: #eee
}

.container{
   margin-top: 100px;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.first{
    display: flex;
}

label{
    margin-right: 7px;
}

.form-control{
    width: 500px;
}

.btn{
    margin-left: 10px;
}

/* jabascript */
 
.parent{
    margin-top: 20px;

    display: flex;
}